{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- features.html content starts here -->
<div class="py-3 text-center">
    <h1>Future Features</h1>
    <h2>Take a look at what's going to be implemented in the future</h2>
</div>
<!-- List of features -->
<!-- Currently Working On features -->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 justify-content-center">
            <h3>Close to completion</h3>
            <P>Nothing to see here</P>
        </div>
    </div>
</div>
<!-- Next in line features -->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 justify-content-center">
            <h3>Under Development</h3>
            <P>Nothing to see here</P>
        </div>
    </div>
</div>
<!-- Planning Stage features -->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 justify-content-center">
            <h3>Planning Stage</h3>
            <P>Nothing to see here</P>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 justify-content-center">
            <h3 class="text-center">Submit any features you would like to see</h3>
            <form id="feature_form" method="POST">
                {{ feature_form | crispy }}
                {{ csrf_token }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="text-center">
    <h3>Choose your next book or see all the reviews:</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 justify-content-center">
                <a class="btn btn-primary" aria-label="Link to go to the all reviews page"
                    href="{% url 'book_overview' %}">All Books</a>
                <a class="btn btn-primary" aria-label="Link to go to the all reviews page"
                    href="{% url 'all_reviews' %}">All Reviews</a>
            </div>
        </div>
    </div>
</div>

<!-- features.html content ends here -->
{% endblock content %}