/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Style+Script&display=swap');

/* CSS variables */
:root {
    --title-font: "Style Script", Serif;
    --text-font: "Crimson Text", Serif;
    /* To be used for h1 and other important highlights */
    --main-highlight: #442b23;
    --secondary-highlight: #34495E;
    --main-text: #333333;
    --button: #4A0E4E;
}

/* Button styles */


/* General styles */
body {
    background-color: #F2F0EF;
}

h1,
h2,
h3,
.navbar-brand {
    font-family: var(--title-font);
    color: var(--main-highlight);
}

p,
.nav-item {
    font-family: var(--text-font);
    color: var(--main-text);
}

.bold {
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Navbar styles */
.navbar {
    border-bottom:2px solid var(--secondary-highlight) ;
}