{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- all-reviews.html content starts here -->
<div class="py-3 text-center">
    <h1>Reviews</h1>
    <h2>See all the reviews from other users who look to read</h2>
</div>
<!-- All reviews, with 15 per page-->
<div class="container">
    <div class="row">
        <div class="col-12 py-2">
            <h3 class="pb-4 pt-2 text-center">All Reviews</h3>
            {% for review in review %}
            <div class="review-box mb-5 pt-4 px-3 text-start">
                <h4 class="bold">Review of <a href="{% url 'book_detail' slug=review.object.slug %}"
                        class="book-link-text">{{ review.object.title }}</a> <span
                        class="not-on-mobile not-bold">({{review.object.author.all|join:", " }})</span> by
                    {{review.author.username}}:</h4>
                <p>{{ review.review|truncatechars:150 }}</p>
                {% if review.rating_with_review %}
                <p class="p-small bold">Rating: {{ review.rating_with_review.rating }}/5</p>
                {% else %}
                <p class="p-small bold">No rating given</p>
                {% endif %}
                <p class="p-small">{{ review.created_on }}</p>
                <div class="mb-3">
                    <a href="{% url 'review_detail' slug=review.slug %}" class="button-2">Full review</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if review.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if review.has_previous %}
            <li><a href="?page={{ review.previous_page_number }}" class="button-2 me-2">&laquo; Prev</a></li>
            {% endif %}
            <p>Page {{ review.number }} of {{ review.paginator.num_pages }} </p>
            {% if review.has_next %}
            <li><a href="?page={{ review.next_page_number }}" class="button-2 ms-2"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<div class="text-center pb-4">
    <h3 class="pb-3">Choose your next book</h3>
    <a class="button" aria-label="Link to go to the all reviews page" href="{% url 'book_overview' %}">All Books</a>
</div>

<!-- all-reviews.html content ends here -->
{% endblock content %}