{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->
<div class="py-2 text-center">
    <h1>Welcome to The Book Collective</h1>
    <h2>Where book lovers can track and review their best <span class="bold">and worst </span>reads</h2>
</div>
<!-- User currently reading and wishlist -->
<div class="container-fluid py-2">
    <div class="row">
        <!-- Currently reading -->
        <div class="col-12 col-lg-6 py-2 text-center d-flex flex-column">
            <h3>Currently Reading</h3>
            {% if book_status_currently_reading %}
            <div class="row justify-content-center right-border-no-mobile">
                {% for book in book_status_currently_reading %}
                <div class="col-6 col-md-3">
                    <div class="card mb-3 mx-1 px-0">
                        <div class="card-body mx-0 px-1">
                            <div class="image-container pb-2">
                                <a href="{% url 'book_detail' slug=book.object.slug %}">
                                    {% if 'placeholder' not in book.object.front_cover.url %}
                                    <img class="card-img-top" src=" {{ book.object.front_cover.url }}"
                                        alt="{{ book.object.title }}">
                                    {% else %}
                                    <img class="card-img-top" src="{% static 'images/placeholder.webp' %}"
                                        alt="placeholder image">
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{% url 'book_detail' slug=book.object.slug %}"
                                class="card-title p-small bold book-link-text">{{ book.object.title }}</a>
                            <p class="card-text p-small text-center">by {{book.object.author.all|join:", " }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-auto">
                <a href="{% url 'profile_page' username=user.username %}" class="button">Visit Your Profile</a>
            </div>
            {% else %}
            <p>Nothing to see here. Add your current book:</p>
            <div class="mt-auto">
                <a href="{% url 'book_overview' %}" class="button">Add Your Current Read</a>
            </div>
            {% endif %}
        </div>
        <!-- Wishlist -->
        <div class="col-12 col-lg-6 py-2 text-center d-flex flex-column">
            <h3>Wishlist</h3>
            {% if book_status_wishlist %}
            <div class="row justify-content-center">
                {% for book in book_status_wishlist %}
                <div class="col-6 col-md-3">
                    <div class="card mb-3 mx-1 px-0">
                        <div class="card-body mx-0 px-1">
                            <div class="image-container pb-2">
                                <a href="{% url 'book_detail' slug=book.object.slug %}">
                                    {% if 'placeholder' not in book.object.front_cover.url %}
                                    <img class="card-img-top" src=" {{ book.object.front_cover.url }}"
                                        alt="{{ book.title }}">
                                    {% else %}
                                    <img class="card-img-top" src="{% static 'images/placeholder.webp' %}"
                                        alt="placeholder image">
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{% url 'book_detail' slug=book.object.slug %}"
                                class="card-title p-small bold book-link-text">{{ book.object.title }}</a>
                            <p class="card-text p-small text-center">by {{book.object.author.all|join:", " }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-auto">
                <a href="{% url 'profile_wishlist' username=user.username %}" class="button">View Your Wishlist</a>
            </div>
            {% else %}
            <p>Nothing to see here. Add books to your wishlist:</p>
            <div class="mt-auto">
                <a href="{% url 'book_overview' %}" class="button">Add To Wishlist</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- 8 most recent reviews -->
<div class="container pb-4">
    <div class="row justify-content-center text-center">
        <div class="col-12 py-2">
            <h3 class="pb-4 pt-2">Most Recent Reviews</h3>
            {% for review in review %}
            <div class="review-box mb-5 pt-4 px-3 text-start">
                <h4 class="bold">Review of
                    <a href="{% url 'book_detail' slug=review.object.slug %}" class="book-link-text">
                        {{ review.object.title }}</a>
                    <span class="not-on-mobile not-bold">({{review.object.author.all|join:", " }})</span> by
                    {{review.author.username}}:
                </h4>
                <p>{{ review.review|truncatechars:150 }}</p>
                {% if review.rating_with_review %}
                <p class="p-small bold">Rating: {{ review.rating_with_review.rating }}/5</p>
                {% else %}
                <p class="p-small bold">No rating given</p>
                {% endif %}
                <p class="p-small mb-2">{{ review.created_on }}</p>
                <div class="d-flex gap-2 like-div">
                    <div class="mb-3">
                        <a href="{% url 'review_detail' slug=review.slug %}" class="button-2">Full review</a>
                    </div>
                    {% if review.author != request.user %}
                    {% if review.user_review_like %}
                    <form method="POST" id="delete_review_like" action="{% url 'delete-review_like' slug=review.slug %}">
                        <button type="submit"><i class="fa-solid fa-thumbs-up"></i></button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form method="POST" id="add_review_like" action="{% url 'add_review_like' slug=review.slug %}">
                        <button type="submit"><i class="fa-regular fa-thumbs-up"></i></button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                    {% endif %}
                </div>

            </div>
            {% endfor %}
            <a href="{% url 'all_reviews' %}" class="button">See All Reviews</a>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock content %}