{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- reviews-details.hmtl code starts here -->
<div class="py-3 text-center">
    <h1>Review of {{ review.object.title }}</h1>
    <h2>Written by <a href="{% url 'profile_page' username=review.author.username %}" class="header-link-text">
            {{ review.author }}</a></h2>
</div>
<!-- Review of book -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8">
            <div id="review-rating-review-page">
                <p id="review-text-review-page">{{ review.review }}</p>
                {% if rating %}
                <p class="p-small bold">Rating: {{ rating.rating }}/5</p>
                {% else %}
                <p class="p-small bold">No rating given</p>
                {% endif %}
            </div>
            <div id="hidden-edit-review-form-review-page" class="d-none">
                <form id="add_review_form" method="POST" action="{% url 'edit_review' slug=review.object.slug %}">
                    {{ add_review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="button">Update Review</button>
                </form>
            </div>
            <div id="hidden-edit-rating-form-review-page" class="d-none">
                <form id="add_rating_form" method="POST" action="{% url 'edit_rating' slug=review.object.slug %}">
                    {{ add_rating_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="button">Update Review</button>
                </form>
            </div>
            {% if review.author == user %}
            <div class="d-flex mb-3" id="review-edit-delete-review-page">
                <button class="button-2 me-3 border-0 width-100" id="edit-review-review-page-button">Edit
                    review</button>
                <button class="button-2 border-0 width-100 delete-red" data-bs-toggle="modal"
                    data-bs-target="#deleteReviewReviewPageModal">Delete review</button>
            </div>
            <div class="d-flex" id="rating-edit-delete-review-page">
                {% if rating %}
                <button class="button-2 me-3 border-0 width-100" id="edit-rating-review-page-button">Edit
                    rating</button>
                <button class="button-2 border-0 width-100 delete-red" data-bs-toggle="modal"
                    data-bs-target="#deleteRatingReviewPageModal">Delete rating</button>
                {% else %}
                <button type="button" class="button-2 margin-bottom-point5 border-0 width-100" data-bs-toggle="modal"
                    data-bs-target="#addRatingReviewPageModal">Add Rating</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<!-- Book info -->
<div class="py-3 text-center">
    <h3>{{ review.object.title }} Info</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 py-4">
                <div class="book-info-image-container">
                    <a href="{% url 'book_detail' slug=review.object.slug %}">
                        {% if 'placeholder' not in book.front_cover.url %}
                        <img class="card-img-top" src=" {{ review.object.front_cover.url }}"
                            alt="{{ review.object.title }}">
                        {% else %}
                        <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="placeholder image">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <p><span class="bold">Author{% if review.object.author.all.count > 1 %}s{% endif %}</span>:
                    {{review.object.author.all|join:", " }}</p>
                <p><span class="bold">Genre{% if review.object.genres.all.count > 1 %}s{% endif %}</span>:
                    {{review.object.genres.all|join:", " }}</p>
                <p><span class="bold">First Published</span>: {{ review.object.published }}</p>
                <p><span class="bold">Language</span>: {{ review.object.language }}</p>
                <p><span class="bold">No. of pages</span>: {{ review.object.pages}}</p>
                <a href="{% url 'book_detail' slug=review.object.slug %}" class="button">View Book</a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<div class="text-center pb-4">
    <h3 class="pb-3">Choose your next book or see all the reviews:</h3>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <a class="button" aria-label="Link to go to the all reviews page" href="{% url 'book_overview' %}">All
                    Books</a>
                <a class="button" aria-label="Link to go to the all reviews page" href="{% url 'all_reviews' %}">All
                    Reviews</a>
            </div>
        </div>
    </div>
</div>
<!-- Add rating form modal -->
<div class="modal fade" id="addRatingReviewPageModal" tabindex="-1" role="dialog"
    aria-labelledby="Add Rating form modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRatingReviewPageModal">Add rating</h5>
                <button type="button" class="btn-close ms-auto border-0 bg-white" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <form action="{% url 'add_rating' slug=review.object.slug %}" id="add_rating_form_review_page"
                method="POST">
                <div class="modal-body">
                    {{ add_rating_form | crispy }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button">Add Rating</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete review form modal -->
<div class="modal fade" id="deleteReviewReviewPageModal" tabindex="-1" role="dialog"
    aria-labelledby="Add Rating form modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewReviewPageModal">Delete rating</h5>
                <button type="button" class="btn-close ms-auto border-0 bg-white" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <form action="{% url 'delete_review' slug=review.object.slug %}" id="delete_review_form_review_page"
                method="POST">
                <div class="modal-body">
                    <p>Are you sure you want to delete you review?
                        <br>
                        This action cannot be undone and you will be re-directed back to the {{ review.object.title }}
                        page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button">Delete</button>
                    {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete rating form modal -->
<div class="modal fade" id="deleteRatingReviewPageModal" tabindex="-1" role="dialog"
    aria-labelledby="Add Rating form modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRatingReviewPageModal">Delete rating</h5>
                <button type="button" class="btn-close ms-auto border-0 bg-white" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <form action="{% url 'delete_rating' slug=review.object.slug %}" id="delete_rating_form_review_page"
                method="POST">
                <div class="modal-body">
                    <p>Are you sure you want to delete you rating?
                        <br>
                        This action cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button">Delete</button>
                    {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- reviews-details.hmtl code ends here -->
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}