{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- book-detail.hmtl code starts here -->
<div class="py-3 text-center">
    <h1>{{ book.title }}</h1>
</div>
<!-- Book detail -->
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 py-4">
                <div class="book-info-image-container text-center">
                    {% if 'placeholder' not in book.front_cover.url %}
                    <img class="card-img-top" src=" {{ book.front_cover.url }}" alt="{{ book.title }}">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="placeholder image">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-start pt-4 text-center">
                <p><span class="bold">Author{% if book.author.all.count > 1 %}s{% endif %}</span>:
                    {{ book.author.all|join:", " }}</p>
                <p><span class="bold">Genre{% if book.genres.all.count > 1 %}s{% endif %}</span>:
                    {{ book.genres.all|join:", " }}</p>
                <p><span class="bold">First Published</span>: {{ book.published }}</p>
                <p><span class="bold">Language</span>: {{ book.language }}</p>
                <p><span class="bold">No. of pages</span>: {{ book.pages}}</p>
            </div>
            <div class="col-12 text-start">
                <p class="bold">Synopsis:</p>
                <p>{{ book.synopsis }}</p>
                {% if user_status %}
                <p class="bold">Your status: {{ user_status.get_status_display }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 mb-2" id="change-status-button-container">
                <button class="button-2 me-3 border-0" id="change-status-button">Change Status</button>
            </div>
            <div class="d-none" id="status-buttons">
                <div class="col-12 mb-2">
                    {% if user_status and user_status.status == 1 %}
                    <form method="POST" id="remove_from_wishlist"
                        action="{% url 'delete_status' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Remove from wishlist</button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form method="POST" id="add_to_wishlist"
                        action="{% url 'add_to_wishlist' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Add to wishlist</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
                <div class="col-12 mb-2">
                    {% if user_status and user_status.status == 2 %}
                    <form method="POST" id="remove_from_currently_reading"
                        action="{% url 'delete_status' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Remove from currently reading</button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form method="POST" id="add_to_currently_reading"
                        action="{% url 'add_to_currently_reading' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Add to currently reading</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
                <div class="col-12 mb-2">
                    {% if user_status and user_status.status == 3 %}
                    <form method="POST" id="remove_from_read"
                        action="{% url 'delete_status' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Remove from read</button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form method="POST" id="add_to_read"
                        action="{% url 'add_to_read' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Add to read</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
                <div class="col-12 mb-2">
                    {% if user_status and user_status.status == 4 %}
                    <form method="POST" id="remove_from_dnf"
                        action="{% url 'delete_status' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Remove from DNF</button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form method="POST" id="add_to_dnf"
                        action="{% url 'add_to_dnf' username=request.user.username slug=book.slug %}">
                        <button class="button-2 me-3 border-0" type="submit">Add to DNF</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<!-- User's rating and review. Options to add if they don't have one-->
<h2 class="text-center">Your review and rating</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            {% if user_review %}
            <p id="pre-edit-review">{{ user_review.review|truncatechars:100 }}</p>
            <div id="hidden-edit-review-form-book-page" class="d-none">
                <form id="add_review_form" method="POST" action="{% url 'edit_review' slug=book.slug %}">
                    {{ add_review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="button">Update Review</button>
                </form>
            </div>
            <button class="button-2 me-3 border-0" id="edit-review-book-page-button">Edit review</button>
            <button class="button-2 me-3 border-0 delete-red" id="delete-review-book-page-button" data-bs-toggle="modal"
                data-bs-target="#deleteReviewBookPageModal">Delete review</button>
            {% else %}
            <form id="add_review_form" method="POST" action="{% url 'add_review' slug=book.slug %}">
                {{ add_review_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="button">Add Review</button>
            </form>
            {% endif %}
        </div>
        <div class="col-12 col-md-4 mb-3">
            {% if user_rating %}
            <p id="pre-edit-rating">{{ user_rating.rating }}/5</p>
            <div id="hidden-edit-rating-form-book-page" class="d-none">
                <form id="add_rating_form" method="POST" action="{% url 'edit_rating' slug=book.slug %}">
                    {{ add_rating_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="button">Update Review</button>
                </form>
            </div>
            <button class="button-2 me-3 border-0" id="edit-rating-book-page-button">Edit rating</button>
            <button class="button-2 me-3 border-0 delete-red" id="delete-rating-book-page-button" data-bs-toggle="modal"
                data-bs-target="#deleteRatingBookPageModal">Delete rating</button>
            {% else %}
            <form id="add_rating_form" method="POST" action="{% url 'add_rating' slug=book.slug %}">
                {{ add_rating_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="button">Add Rating</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<!-- All reviews and ratings -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3 class="text-center">All Reviews</h3>
            {% for review in review %}
            <div class="review-box mb-5 pt-4 px-3 text-start">
                <p>{{ review.review|truncatechars:100 }}</p>
                {% if review.rating_with_review %}
                <p class="p-small bold">Rating: {{ review.rating_with_review.rating }}/5</p>
                {% else %}
                <p class="p-small bold">No rating given</p>
                {% endif %}
                <p class="p-small">{{ review.created_on }}</p>
                <div class="mb-3">
                    <a href="{% url 'review_detail' slug=review.slug %}" class="button-2">Full review</a>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No reviews yet</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4">
            <h3 class="text-center">All Ratings</h3>
            {% for rating in rating %}
            <p>{{ rating.author.username}}'s rating:</p>
            <p class="bold">{{ rating.rating }}/5</p>
            {% empty %}
            <p class="text-center">No ratings yet</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<div class="text-center pb-4">
    <h3 class="pb-3">Choose your next book or see all the reviews:</h3>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <a class="button" aria-label="Link to go to the all reviews page" href="{% url 'book_overview' %}">All
                    Books</a>
                <a class="button" aria-label="Link to go to the all reviews page" href="{% url 'all_reviews' %}">All
                    Reviews</a>
            </div>
        </div>
    </div>
</div>
<!-- Delete review form modal -->
<div class="modal fade" id="deleteReviewBookPageModal" tabindex="-1" role="dialog"
    aria-labelledby="Add Rating form modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewBookPageModal">Delete rating</h5>
                <button type="button" class="btn-close ms-auto border-0 bg-white" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <form action="{% url 'delete_review' slug=book.slug %}" id="delete_review_form_book_page" method="POST">
                <div class="modal-body">
                    <p>Are you sure you want to delete you review?
                        <br>
                        This action cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button">Delete</button>
                    {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete rating form modal -->
<div class="modal fade" id="deleteRatingBookPageModal" tabindex="-1" role="dialog"
    aria-labelledby="Add Rating form modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRatingBookPageModal">Delete rating</h5>
                <button type="button" class="btn-close ms-auto border-0 bg-white" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <form action="{% url 'delete_rating' slug=book.slug %}" id="delete_rating_form_book_page" method="POST">
                <div class="modal-body">
                    <p>Are you sure you want to delete you rating?
                        <br>
                        This action cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button">Delete</button>
                    {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Full User Reivew-->
<div class="d-none">
    {% if user_review %}
    <p id="full-user-review">{{ user_review.review }}</p>
    {% endif %}
</div>
<!-- book-details.hmtl code ends here -->
{% endblock content %}

{% block extras %}
<script src="{% static 'js/books.js' %}"></script>
{% endblock %}