{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Page Does Not Exist</h3>

            <p>Unfortunately, the page ou're trying to reach does not exist. Press the below button to go back to the
                homepage, of use the nav bar up top to explore the website!</p>
            <a class="button" href="{% url 'homepage' %}">Return To Home</a>
        </div>
    </div>
</div>

{% endblock %}